body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Body background color */
  color: #fff; /* Body text color */
}

header {
  background-color: #fff; /* Header background color */
  color: #000;
  padding: 10px 20px;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

li {
  background-color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  ul {
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  a {
    padding: 10px;
  }
}
