/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #cc0000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main content styles */
main {
  padding: 20px;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Adjust text color as needed */
  margin-bottom: 20px; /* Add margin below paragraphs */
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

/* Center align the h1 in the header */
header h1 {
  margin: 0 0 0 125px; /* Offset title by 50px to the right */
}
