/* Reset default styles for the entire page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Style the header */
header {
  background-color: #cc0000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Right-align/justify the header links */
  flex: 1;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Add padding to the main content area */
main {
  padding: 20px;
}

/* Create a responsive grid layout for the container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Set a fixed width and height for images within the container */
.container img,
.image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensure images don't exceed their container width */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

@media (max-width: 100px) {
  .header-images {
    display: none;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
