body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.container img,
.image-wrapper img {
  width: 100%; /* Adjust this value to change the image width */
  height: auto;
}

.container .media-window {
  position: relative;
  overflow: hidden;
}

.container .media-window .download-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}
